node_modules
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local
.git
.gitignore
.DS_Store
*.log
logs
*.swp
*.swo
*~
.vscode
.idea
coverage
.nyc_output
dist
build
*.md
!README.md
Jenkinsfile
Dockerfile
.dockerignore
server.pid
.git/
